/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~primeng/resources/themes/nova-dark/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

* {
  font-family: 'Roboto Mono', monospace;
}

p, h1, h2, h3, h4, h5 {
  color: white;
}

button {
  color: white;
  background-color: unset;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  height: unset;
}

.bold {
  font-weight: bold;
}
